html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;

  position: relative;

  color: #fff;
}

#controls {
  position: absolute;
  top: 10px;
  left: 10px;
}

p {
  color: gray;
  font-size: 25px;

  @media (min-width: 1000px) {
    font-size: 12px;
  }
}
